@import url("inter.css");

html {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F8F9FA;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 688px;
  margin: 64px auto;
}

@media (max-width: 600px) {
  main {
    margin: 48px auto;
  }
}
